<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811392411498-otstma8nm6smhdq9gp8akpagtkliu8eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811392411498-otstma8nm6smhdq9gp8akpagtkliu8eu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>811392411498-1kju3dhhrubsis14gss3geh2nju5otg6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDV8tB7u9jVCmrAPmsEOj7jlrUXDX2byd0</string>
	<key>GCM_SENDER_ID</key>
	<string>811392411498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lawyerApp</string>
	<key>PROJECT_ID</key>
	<string>lawyer-app-cca47</string>
	<key>STORAGE_BUCKET</key>
	<string>lawyer-app-cca47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811392411498:ios:b9dd72bbc169dc2bde2713</string>
</dict>
</plist>